.margin-left-5 {
  margin-left: 5% !important;
}

.margin-horizontal-5 {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.go-to-payment {
  background-color: white;
}

.disabled-title {
  cursor: default;
  background-color: #dcddde !important;
  color: rgba(0, 0, 0, 0.4) !important;
  opacity: 0.3 !important;
  background-image: none !important;
  box-shadow: none !important;
  pointer-events: none;
}
