@font-face {
    font-family: caviarDreams;
    src: url("./fonts/caviar_dreams/CaviarDreams.ttf");
}

.custom-header
{
	font-family: caviarDreams !important;
	padding: 14px 16px;
	margin-bottom: 0px;
	text-transform: uppercase !important;
	font-size: 90% !important;
	height: 70px !important;
} 

.uppercase-header-item
{
	text-transform: uppercase !important;
}

.nb-in-cart
{
	margin-left: 3px;
	margin-top:30px;
	text-align: center;
	width: 13px;
	height: 13px;
	font-size: x-small; 
	color:white; 
	background-color:#3F3F3F !important;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid black !important;
	border-radius: 50% !important ;
	padding-top: 1px !important; 
}